*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    font-family: "Archivo", sans-serif;
    font-weight: 500;
}
.no-wrap
{
    white-space: nowrap;
}
html, body, .cadre
{
    width: 100%;
    height: 100%;
}
.cadre
{
    background-color: #ddebf8;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* HEADER */

.header
{
    width: 100%;
    max-width: 550px;
    height: 110px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}
.select
{
    width: calc(100% - 80px);
    height: 100%;
    border-radius: 25px;
    position: relative;
    box-shadow: 0px 0px 15px 0px #0085cc33;
    transition: transform 0.15s ease-in-out;
}
.select:hover
{
    transform: scale(1.04);
}
.select-arrow
{
    content: url(img/arrow_icon.svg);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
    width: 35px;
    height: 20px;
    pointer-events: none;
}
.vacation-select
{
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    border-radius: 25px;
    background-color: #ffffff;
    font-size: 1.5em;
    padding: 15px;
    padding-right: 65px;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
    text-overflow: ellipsis;
    color: #272932;
}
.location-button
{
    width: 80px;
    height: 100%;
    margin: 0;
    margin-left: 15px;
    padding: 0;
    border: none;
    border-radius: 25px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    transition: transform 0.15s ease-in-out;
    cursor: pointer;
    box-shadow: 0px 0px 15px 0px #0085cc33;
}
.location-button:hover
{
    transform: scale(1.15);
}
.location-img
{
    height: 35px;
}

/* CONTENT */

.content
{
    width: 100%;
    height: calc(100% - 110px);
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text-box
{
    width: 100%;
    max-width: 350px;
    height: calc(50% - 150px / 2);
    display: flex;
    justify-content: center;
    align-items: center;
}
.text
{
    text-align: center;
    font-size: 1.8em;
    color: #272932;
    font-weight: 600;
}
.timer-box
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 450px;
    height: 150px;
    background-color: #0085cc;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 0px 0px 25px 0px #0085cc66;
    padding: 15px;
    transition: transform 0.2s ease-in-out;
}
.timer-box:hover
{
    transform: scale(1.03);
}
.timer
{
    text-align: center;
    font-size: 2.5em;
    font-weight: 600;
    color: white;
}
.values
{
    width: 100%;
    max-width: 400px;
    height: calc(50% - 150px / 2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.values > p
{
    font-size: 1.8em;
    text-align: center;
    color: #272932;
    font-weight: 600;
}
.values > div
{
    height: 20px;
}

/* LOCATION BLOCK */

.shadow
{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(39, 41, 50, 0.7);
    display: block;
}
.locate-block 
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    height: 400px;
    background-color: #ddebf8;
    border-radius: 25px;
    padding: 15px;
}
.locate-block1
{
    border-radius: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.departement-select 
{
    width: 100%;
    max-width: 300px;
    background-color: white;
    border-radius: 15px;
    margin: auto;
    overflow: hidden;
    box-shadow: 0px 0px 15px 0px #0085cc33;
}
.search-input
{
    width: 100%;
    height: 60px;
    border: none;
    background-color: transparent;
    outline: none;
    font-size: 1.5em;
    padding: 15px;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    color: #272932;
}
.suggestions
{
    width: 100%;
    max-height: 255px;
    overflow-y: scroll;
}
.suggestions > div 
{
    width: 100%;
    padding: 15px;
    font-size: 1.5em;
    border-bottom: 2px solid #ddebf8;
    cursor: pointer;
    transition: all 0.15s;
    color: #272932;
}
.suggestions > div:last-child
{
    border: none;
}
.suggestions > div:hover 
{
    background-color: rgba(221, 235, 248, 0.5);
}
.end-location
{
    width: 130px;
    height: 40px;
    position: absolute;
    right: 15px;
    bottom: 15px;
    border: none;
    border-radius: 15px;
    background-color: #0085cc;
    box-shadow: 0px 0px 15px 0px #0085cc33;
    cursor: pointer;
    color: white;
    font-size: 1.5em;
    font-weight: 600;
    transition: transform 0.2s ease-in-out;
}
.end-location:hover
{
    transform: scale(1.1);
}
.end-location-disabled
{
    width: 130px;
    height: 40px;
    position: absolute;
    right: 15px;
    bottom: 15px;
    border: none;
    border-radius: 15px;
    background-color: #0085cc;
    box-shadow: 0px 0px 15px 0px #0085cc33;
    cursor: not-allowed;
    color: white;
    font-size: 1.5em;
    font-weight: 600;
    opacity: 0.7;
}

/* A2HS */

.install-alert
{
    background-color: white;
    position: fixed;
    right: 15px;
    bottom: 15px;
    width: 350px;
    height: 200px;
    padding: 15px;
    border-radius: 25px;
    display: none;
}
.install-text
{
    font-size: 1.5em;
    font-weight: 600;
    color: #272932;
}
.dismiss-button
{
    bottom: 15px;
    left: 15px;
    background-color: white;
    border: 3px solid  #0085cc;
    color: #272932;
}
.install-button
{
    bottom: 15px;
    right: 15px;
    background-color: #0085cc;
    color: white;
    border: none;
}
.install-alert > button
{
    position: absolute;
    border-radius: 15px;
    width: 130px;
    height: 40px;
    font-size: 1.5em;
    font-weight: 600;
    outline: none;
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
    box-shadow: 0px 0px 15px 0px #0085cc33;
}
.install-button:hover
{
    transform: scale(1.1);
}
.dismiss-button:hover
{
    transform: scale(1.1);
}

/* SCROLL BAR */

*::-webkit-scrollbar
{
    background-color: transparent;
    width: 6px;
}
*::-webkit-scrollbar-thumb
{
    background-color: rgba(39, 41, 50, 0.3);
}
*::-webkit-scrollbar-thumb:active
{
    background-color: rgba(39, 41, 50, 0.2)
}
*
{
    scrollbar-width: thin;
    scrollbar-color: rgba(39, 41, 50, 0.3) transparent;
}