*
{
    font-family: "roboto";
}
html, body
{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    color: white;
}
.cadre
{
    width: 100%;
    height: 100%;
}
p
{
    margin: 0;
    padding: 0;
}
.cadre
{
    background-color: #08081e;
}
.header
{
    width: 100%;
    height: 12.5%;
    padding: 30px 30px 30px 30px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}
.select
{
    width: calc((100% - 30px) - (12.5vh - 60px));
    height: 100%;
    box-shadow: 20px 20px 20px #050018b8;
    border-radius: 45%;
    position: relative;
}
.select-arrow
{
    content: url(img/arrow_icon.svg);
    position: absolute;
    top: 37.5%; right: 0; 
    width: 25%;
    height: 25%;
}
.vacation-select
{
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    border-radius: 45px;
    background-color: #434982;
    color: white;
    font-size: 3em;
    box-sizing: border-box;
    padding: 30px 30px 30px 30px;
    appearance: none;
    cursor: pointer;
}
.location-button
{
    width: calc(12.5vh - 60px);
    height: calc(12.5vh - 60px);
    margin: 0;
    margin-left: 30px;
    padding: 0;
    border: none;
    border-radius: 45px;
    background-color: #434982;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    transition: opacity 0.15s;
    cursor: pointer;
    box-shadow: 20px 20px 20px #050018b8;
}
.location-button:hover
{
    opacity: .5;
}
.location-img
{
    width: 45%;
    height: 45%;
}
.content
{
    width: 100%;
    height: 87.5%;
    padding-left: 60px;
    padding-right: 60px;
    box-sizing: border-box;
}
.text
{
    text-align: left;
    width: 100%;
    height: 30%;
    font-size: 4em;
    display: flex;
    align-items: center;
}
.timer-box
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
    background-color: #434982;
    border-radius: 45px;
    cursor: pointer;
    box-shadow: 20px 20px 20px #050018b8;
}
.timer
{
    font-size: 4em;
}
.shadow
{
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    background-color: rgba(0, 0, 0, 0.74);
    display: none;
}
.locate-block 
{
    position: absolute;
    top: 32.5%; left: 5%; right: 5%; bottom: 32.5%;
    background-color: #1e264c;
    border-radius: 45px;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.60);
}
.locate-block1
{
    border-radius: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.locate-block > .departement-select
{
    max-height: 80%;
}
.departement-select 
{
    width: 80%;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    background-color: #434982;
    border-radius: 35px;
    overflow: hidden;
    box-shadow: 20px 20px 30px #05001869;
    max-height: 70%;
    overflow: hidden;
}
.search-input
{
    background: transparent;
    border: 0;
    outline: none;
    width: 100%;
    height: 30%;
    font-size: 3em;
    padding: 5%;
    box-sizing: border-box;
    appearance: none;
    color: #fff;
    box-shadow: 0px 10px 35px 20px #0700244d;
}
.suggestions
{
    max-height: 30vh;
    overflow-x: hidden;
    overflow-y: scroll;
}
.suggestions > div 
{
    padding: 5%;
    font-size: 3em;
    color: #fff;
    border-top: 4px solid #1e264c;
    cursor: pointer;
    transition: all 0.15s;
}
.suggestions > div:hover 
{
    background-color: #323c75;
}
.end-location
{
    position: absolute;
    bottom: 25px;
    right: 25px;
    width: 250px;
    height: 85px;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    color: white;
    background-color: #434982;
    font-size: 3em;
    transition: all 0.15s;
    box-shadow: 15px 15px 20px #05001869;
    display: flex;
    align-items: center;
    justify-content: center;
}
.end-location:hover
{
    opacity: .5;
}